In [ ]:
age = int(input())
print("Eligible" if age > 18 else "Ineligible")

3
Ineligible

In [ ]:
name = input("Enter your name: ")
user_id = input("Enter your ID")
print(f'Welcome "{name}" in the Compiler lab')

Enter your name: Abubakar Siddiq Sazzad
Enter your ID222010058
Welcome "Abubakar Siddiq Sazzad" in the Compiler lab

In [ ]:
a = "admin123"
password = input("Enter password: ")
if password == a:
    print("Password is correct")
else:
    print("Incorrect password")

Enter password: admin123
Password is correct

In [ ]:
flowers = ["rose", "lily", "lotus"]
print("Second item:", flowers[1])
for flower in flowers:
    print(f"Flower type: {flower}")

Second item: lily
Flower type: rose
Flower type: lily
Flower type: lotus

In [ ]:
price = 50
print(f"The price of item is {price} dollars")

The price of item is 50 dollars

In [ ]:
email = "Scholars@ius.edu.bd"
domain = email.split('@')[1]
print("Domain name:", domain)

Domain name: ius.edu.bd

In [ ]:
L1 = [1, 2, 3, 1, 2, 3, 4]
unique = set(L1)
print("Unique IDs:", unique)

Unique IDs: {1, 2, 3, 4}

In [ ]:
student = {"name": "John", "age": 20}
student["grade"] = "A"
student["age"] = 21
print("Updated student info:", student)

Updated student info: {'name': 'John', 'age': 21, 'grade': 'A'}

In [ ]:
def discount(percent=10):
    print(f"Discount applied: {percent}%")
discount()
discount(25)

Discount applied: 10%
Discount applied: 25%